/* task2 */
.ingredients-list {
  list-style: none;
}

/* task3 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.image-list:not(:last-child) {
  margin-right: 10px;
}

/* task4 */
.positioning {
  text-align: center;
  margin-top: 30px;
}
.value-style {
  color: tomato;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.button {
  width: 50px;
  height: 30px;
  background-color: cornsilk;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* task5 */
.input {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 100%;
}
.output {
  margin: 0;
  margin-top: 10px;
  margin-left: 40px;
}

/* task6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* task8 */
.js-controls {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.button-controls {
  width: 100px;
  height: 30px;
  background-color: cornsilk;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.input-mode {
  width: 60px;
  height: 23px;
}
.js-boxes {
  display: flex;
  flex-wrap: wrap;
}
